.bg-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.8);
    position: absolute;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

body::before {
    display: block;
    content: '';

}

h1 {
    position: relative;
}

#company_title {
    letter-spacing: 4px;
}

html {
    scroll-padding-top: 60px; /* height of sticky header */
}


